* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
body {
  overflow-x: hidden;
}

.searchCity {
  margin-left: 4%;
}
form label {
  font-size: 140%;
}
.btn .btn-primary {
  font-size: 1.5rem;
  color: #fff;
}
#current-Weather-Container {
  padding-right: 0;
}
#future-weather {
  max-width: 12rem;
}
.card-body {
  text-align: center;
  background-color: #2980b9;
  color: #fff;
  margin-right: 10px;
}
.cloudy {
  color: rgb(132, 200, 240);
  font-size: 200%;
}
.ion-ios7-sunny {
  font-size: 260%;
  text-align: center;
  color: #ff372d;
}
.ion-ios7-partlysunny {
  font-size: 250%;
  color: rgb(158, 196, 240);
}
.ion-ios7-rainy {
  font-size: 250%;
  color: rgb(113, 125, 139);
}
.red,
.green,
.yellow,
.orange,
.pink {
  padding: 7px;
  padding-top: 0;
  height: 30px;
  width: 15%;
  color: #fff;
  list-style: none;
  margin-bottom: 20px;
}
.red {
  background-color: #e74c3c;
}
.green {
  background-color: #16a085;
}
.yellow {
  background-color: #f1c40f;
}
.orange {
  background-color: #f39c12;
}
.pink {
  background-color: #f1178b;
}
